{% block stylesheets %}
<style>
  table {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 640px;
  border-collapse:
  collapse; border-spacing: 0;
  }

  td, th {
  border: 1px solid transparent; /* No more visible border */
  height: 30px;
  transition: all 0.3s; /* Simple transition for hover effect */
  }

  th {
  background: #DFDFDF; /* Darken header a bit */
  font-weight: bold;
  }

  td {
  background: #FAFAFA;
  text-align: center;
  }

  /* Cells in even rows (2,4,6...) are one color */
  tr:nth-child(even) td { background: #F1F1F1; }

  /* Cells in odd rows (1,3,5...) are another (excludes header cells) */
  tr:nth-child(odd) td { background: #FEFEFE; }

  tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */
</style>

{% endblock %}
<h1>Booking list</h1>
<table class="responstable">
  <tr>
    <th>Venue name</th>
    <th>Player name</th>
    <th>Booking date</th>
    <th>Booking hour</th>
  </tr>

{% for booking in bookingList %}
  <tr>
    <td>{{ booking.venue_name }}</td>
    <td>{{ booking.player_name }}</td>
    <td>{{ booking.booking_date }}</td>
    <td>{{ booking.booking_hour }}</td>
  </tr>
{% endfor %}

</table>
