<script>
  window.onload=function(){
    window.setTimeout(
      function() {
        document.getElementById('payment').submit();
      },
      5000
    );
  };
</script>
<div>
    <h3>Bounce Match Pay</h3>
    <p>
        <form id="payment" name="frmPaymentRedirect" method="post" action="{{ paymentUrl }}">
            <input type="hidden" name="env_key" value="{{ envKey }}"/>
            <input type="hidden" name="data" value="{{ encData }}"/>
            <p>
                Vei fi redirectat catre pagina de plati securizata a mobilpay.ro
            </p>
        </form>
    </p>
</div>
