<div>
    <h3>Bounce Match Return Page</h3>

    <p>
        Multumim!
    </p>

    <p>
        Ai efectuat o plata pentru produsul cu identificatorul {{ orderId }}
    </p>

    <p>
        Ai primit in confirmURL rezultatul platii.
        Afiseaza aici un mesaj corespunzator cu starea comenzii {{ orderId }}
    </p>
</div>
